RSI_Client/Connected Services/EventsService/events.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://ws.event.bialystok.com" xmlns:tns="http://ws.event.bialystok.com" targetNamespace="http://ws.event.bialystok.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://ws.event.bialystok.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getAllEventsRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="generateEventsPDFRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getEventsByDateRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="date" type="xs:date" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEventsByWeekRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="week" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEventDetailsByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addEventRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eventDto" type="tns:eventDto" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllEventsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="eventList" type="tns:event" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEventsByDateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="eventList" type="tns:event" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEventsByWeekResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="eventList" type="tns:event" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getEventDetailsByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eventDetails" type="tns:event" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addEventResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eventDetails" type="tns:event" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="generateEventsPDFResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmime:expectedContentTypes="application/octet-stream" name="content" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="event">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="type" type="tns:type" />
          <xs:element name="date" type="xs:date" />
          <xs:element name="week" type="xs:int" />
          <xs:element name="month" type="xs:int" />
          <xs:element name="year" type="xs:int" />
          <xs:element name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eventDto">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="type" type="tns:type" />
          <xs:element name="date" type="xs:date" />
          <xs:element name="week" type="xs:int" />
          <xs:element name="month" type="xs:int" />
          <xs:element name="year" type="xs:int" />
          <xs:element name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SPORT" />
          <xs:enumeration value="CULTURAL" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllEventsRequest">
    <wsdl:part name="getAllEventsRequest" element="tns:getAllEventsRequest" />
  </wsdl:message>
  <wsdl:message name="addEventRequest">
    <wsdl:part name="addEventRequest" element="tns:addEventRequest" />
  </wsdl:message>
  <wsdl:message name="addEventResponse">
    <wsdl:part name="addEventResponse" element="tns:addEventResponse" />
  </wsdl:message>
  <wsdl:message name="getEventsByWeekResponse">
    <wsdl:part name="getEventsByWeekResponse" element="tns:getEventsByWeekResponse" />
  </wsdl:message>
  <wsdl:message name="getEventDetailsByIdResponse">
    <wsdl:part name="getEventDetailsByIdResponse" element="tns:getEventDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="generateEventsPDFResponse">
    <wsdl:part name="generateEventsPDFResponse" element="tns:generateEventsPDFResponse" />
  </wsdl:message>
  <wsdl:message name="getEventsByDateRequest">
    <wsdl:part name="getEventsByDateRequest" element="tns:getEventsByDateRequest" />
  </wsdl:message>
  <wsdl:message name="getAllEventsResponse">
    <wsdl:part name="getAllEventsResponse" element="tns:getAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="generateEventsPDFRequest">
    <wsdl:part name="generateEventsPDFRequest" element="tns:generateEventsPDFRequest" />
  </wsdl:message>
  <wsdl:message name="getEventsByDateResponse">
    <wsdl:part name="getEventsByDateResponse" element="tns:getEventsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="getEventsByWeekRequest">
    <wsdl:part name="getEventsByWeekRequest" element="tns:getEventsByWeekRequest" />
  </wsdl:message>
  <wsdl:message name="getEventDetailsByIdRequest">
    <wsdl:part name="getEventDetailsByIdRequest" element="tns:getEventDetailsByIdRequest" />
  </wsdl:message>
  <wsdl:portType name="EventsPort">
    <wsdl:operation name="getAllEvents">
      <wsdl:input name="getAllEventsRequest" message="tns:getAllEventsRequest" />
      <wsdl:output name="getAllEventsResponse" message="tns:getAllEventsResponse" />
    </wsdl:operation>
    <wsdl:operation name="addEvent">
      <wsdl:input name="addEventRequest" message="tns:addEventRequest" />
      <wsdl:output name="addEventResponse" message="tns:addEventResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventsByWeek">
      <wsdl:input name="getEventsByWeekRequest" message="tns:getEventsByWeekRequest" />
      <wsdl:output name="getEventsByWeekResponse" message="tns:getEventsByWeekResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventDetailsById">
      <wsdl:input name="getEventDetailsByIdRequest" message="tns:getEventDetailsByIdRequest" />
      <wsdl:output name="getEventDetailsByIdResponse" message="tns:getEventDetailsByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="generateEventsPDF">
      <wsdl:input name="generateEventsPDFRequest" message="tns:generateEventsPDFRequest" />
      <wsdl:output name="generateEventsPDFResponse" message="tns:generateEventsPDFResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventsByDate">
      <wsdl:input name="getEventsByDateRequest" message="tns:getEventsByDateRequest" />
      <wsdl:output name="getEventsByDateResponse" message="tns:getEventsByDateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventsPortSoap11" type="tns:EventsPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllEvents">
      <soap:operation soapAction="" />
      <wsdl:input name="getAllEventsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllEventsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEvent">
      <soap:operation soapAction="" />
      <wsdl:input name="addEventRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addEventResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventsByWeek">
      <soap:operation soapAction="" />
      <wsdl:input name="getEventsByWeekRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEventsByWeekResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventDetailsById">
      <soap:operation soapAction="" />
      <wsdl:input name="getEventDetailsByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEventDetailsByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateEventsPDF">
      <soap:operation soapAction="" />
      <wsdl:input name="generateEventsPDFRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="generateEventsPDFResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventsByDate">
      <soap:operation soapAction="" />
      <wsdl:input name="getEventsByDateRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEventsByDateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventsPortService">
    <wsdl:port name="EventsPortSoap11" binding="tns:EventsPortSoap11">
      <soap:address location="http://localhost:8443/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>