RSI_Client/Connected Services/EventsService/events.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://ws.event.bialystok.com" xmlns:tns="localhost:8443" targetNamespace="localhost:8443" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://ws.event.bialystok.com" elementFormDefault="qualified" targetNamespace="http://ws.event.bialystok.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getAllEventsRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllEventsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="eventList" type="tns:event" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="event">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="type" type="tns:type" />
          <xs:element name="date" type="xs:date" />
          <xs:element name="week" type="xs:int" />
          <xs:element name="month" type="xs:int" />
          <xs:element name="year" type="xs:int" />
          <xs:element name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SPORT" />
          <xs:enumeration value="CULTURAL" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllEventsRequest">
    <wsdl:part name="getAllEventsRequest" element="sch:getAllEventsRequest" />
  </wsdl:message>
  <wsdl:message name="getAllEventsResponse">
    <wsdl:part name="getAllEventsResponse" element="sch:getAllEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="EventsPort">
    <wsdl:operation name="getAllEvents">
      <wsdl:input name="getAllEventsRequest" message="tns:getAllEventsRequest" />
      <wsdl:output name="getAllEventsResponse" message="tns:getAllEventsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventsPortSoap11" type="tns:EventsPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllEvents">
      <soap:operation soapAction="" />
      <wsdl:input name="getAllEventsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllEventsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventsPortService">
    <wsdl:port name="EventsPortSoap11" binding="tns:EventsPortSoap11">
      <soap:address location="http://localhost:8443/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>